/* @media screen and (min-width: 1920px) {
  .header {
    padding: 0 9rem !important;
  }
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.menu {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  z-index: 99;
}

.menu>li:hover{
    cursor: pointer;
    color: var(--themeRed);
}

.rightSide {
  flex: 1;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}

.cart:hover{
  transform: scale(1.3);
}

.badge{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -0.5rem;
}